<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header pure-u-1">
          <hgroup>
            <p><img src="img/lc.png" alt="logo"></p>
            <h1 class="brand-title"><%= title %></h1>
            <h2 class="brand-tagline">Web application to make easily a fundraising</h2>
          </hgroup>
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a class="pure-button" href="https://github.com/yrezgui/jolicoeur">Fork on GitHub</a>
              </li>
              <li class="nav-item">
                <a class="pure-button" href="http://www.yrezgui.com">Author</a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
      <div class="content pure-u-1">
        <div class="posts pure-g">
          <h1 class="pure-u-1 content-subhead">June 23, 2013</h1>
          <section class="post pure-u-1">
            <header class="post-header">
              <img class="post-avatar" alt="My face" src="/img/me-profile.jpg" width="48" height="48">
              <h2 class="post-title pure-u-1">You like my work ? Buy me a coffee !</h2>
              <p class="post-meta pure-u-1">
                By <a class="post-author" href="http://www.yrezgui.com">Yacine Rezgui</a> 
                <a class="post-category post-category" href="#">Developer</a> 
                <a class="post-category post-category" href="#">French</a> 
                <a class="post-category post-category" href="#">Tunisian</a>
                <a class="post-category post-category" href="#">Love people</a>
              </p>
            </header>
            <div class="post-description pure-u-1">
              <blockquote class="content-quote">
                Real generosity toward the future lies in giving all to the present.
                <br>
                <b>Albert Camus</b> 
              </blockquote>
              <p>
                This project was done to show you how it's simple to make a donate page for everyone.
                <br>
                You just need to fork this repositery, set your personnal settings and run the application. No need to code !
              </p>
              <p>
                To play with the demo, you can use this card number to test <i>4242 4242 4242 4242</i> with a valid expire date and a random CVC number.
              </p>
              <p>
                <a class="pure-button donate" href="#" style="background: #f08d9a;">
                  <img src="img/10.png">
                  <span>10$</span>
                </a>
                <a class="pure-button donate" href="#" style="background: #ee4056;">
                  <img src="img/25.png">
                  <span>25$</span>
                </a>
                <a class="pure-button donate" href="#" style="background: #e51937;">
                  <img src="img/50.png">
                  <span>50$</span>
                </a>
              </p>
            </div>
          </section>
        </div>
        <footer class="footer">
          <div class="pure-menu pure-menu-horizontal pure-menu-open">
            <ul>
              <li><a href="http://purecss.io/">About</a></li>
              <li><a href="http://www.yrezgui.com/">Website</a></li>
              <li><a href="http://github.com/yrezgui">Github</a></li>
              <li><a href="http://plus.google.com/112187016667534859316">Google+</a></li>
              <li><a href="http://www.twitter.com/yrezgui">Twitter</a></li>
              <li><a href="http://blog.yrezgui.com/">Blog</a></li>
              <li><a href="http://www.linkedin.com/in/yrezgui/en">LinkedIn</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
